<div id="right">
    <h2>Economize com seus gastos materiais</h2>
    <div id="welcome">
        <img src="<?=$admLocal?>images/pic_1.jpg" width="171" height="137" alt="Pic 1" class="left" />
        <p>O Home Builder é uma ferramenta para cálcular os gastos e auxíliar na compra de materiais para construção civil.</p>
        <p>Temos como objetivo, facilitar o calculo, reduzir os custos e desperdícios dos materiais de construção.</p>

    </div>

</div>