﻿<nav class="navbar navbar-default" role="navigation">
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">

            <li  ><?php echo $this->Html->link('Produtos',array('controller'=>'Produtos','action'=>'index')) ?></li>
             <li  ><?php echo $this->Html->link('Parceiros',array('controller'=>'Partners','action'=>'index')) ?></li>

            <li><a href="<?= $admLocal ?>Users/logout">Sair Do Painel</a></li>
		</ul><!-- /.nav navbar-nav -->
	</div><!-- /.navbar-collapse -->
</nav><!-- /.navbar navbar-default -->