<div id="right">
    <h2>Calcular gastos - Telhas e Coberturas</h2>
    <div id="welcome">



        <center><table width='80%' height='20%' border='1'>

            <tr>
                <td><center><?php echo "Telhas" ;?></center></td>
                <td><center><?php echo "Valores" ;?></center></td>
            </tr>

            <tr>
                <td><?php echo "Número de telhas Francesa" ;?></td>
                <td><center><?php echo number_format($numeroTelhaFrancesa) . " un.";?></center></td>
            </tr>
            <tr>
                <td><?php echo "Número de telhas Paulista" ;?></td>
                <td><center><?php echo number_format($numeroTelhaPaulista) . " un.";?></center></td>
            </tr>
            <tr>
                <td><?php echo "Número de telhas Plan" ;?></td>
                <td><center><?php echo number_format($numeroTelhaPlan) . " un.";?></center></td>
            </tr>
        </table></center>


    </div>
</div>