<div id="right">
    <h2>Calcular gastos</h2>
    <div id="welcome">

        <a href="<?=$admLocal?>Calculo/pisos">
        	<img src="http://static.tumblr.com/vie4gna/jAzncmjm2/pisos.png" 
        			title="Pisos e Revestimentos"/></a>
        <a href="<?=$admLocal?>Calculo/telhas">
        	<img src="http://static.tumblr.com/vie4gna/VhQncmimr/telha.png" 
        			title="Telhas e Coberturas"</a>
        <a href="<?=$admLocal?>Calculo/tijolos">
        	<img src="http://static.tumblr.com/vie4gna/uggncmj04/tijolos.png" 
        			title="Tijolos e Blocos"</a>
        <a href="<?=$admLocal?>Calculo/tintas">
        	<img src="http://static.tumblr.com/vie4gna/fDPncmiul/tinta.png" 
        		title="Quantidade de Tinta"</a>

    </div>
</div>