<div id="right">
    <h2>Calcular gastos - Pisos e Revestimentos</h2>
    <div id="welcome">


        <form id="RecipeAddForm" method="post" action="/Homebuilder/Calculo/pisos_calcula_tela">

            <label><b>Área da Superfície</b></label>
            <br>
            <label for="num0">Digite a largura da superficie(m):<br>
                <input name="num0" required="required" placeholder="Ex: 15"/> </label><br/>

            <label for="num1">Comprimento da superficie(m):<br>
                <input name="num1" required="required" placeholder="Ex: 10"/></label> <br />

           <br><br>
            <label><b>Tamanho do Revestimento</b></label>
            <br>
            <label for="num0">Largura do Revestimento(cm):<br>
                <input name="num2" required="required" placeholder="Ex: 10"/> </label><br />
            <label for="num1">Comprimento do Revestimento(cm):<br>
                <input name="num3" required="required" placeholder="Ex: 10"/></label> <br /> <br />


            <input type="submit" name="visualizar"  value="Visualizar Resultado" />
            <input type="submit" name="excel" value="Exportar para Excel" />


        </form>

    </div>
</div>
