<div id="right">
    <h2>Calcular gastos - Telhas e Coberturas</h2>
    <div id="welcome">


        <form id="RecipeAddForm" method="post" action="/Homebuilder/Calculo/calcula_telha">

            <label><b>Área de Cobertura</b></label>
            <br>
            <label for="num0">Digite a largura de cobertura(m):<br>
                <input name="num0" required="required" placeholder="Ex: 10"/> </label><br />
            <label for="num1">Digite a altura de cobertura(m):<br>
                <input name="num1" required="required" placeholder="Ex: 10"/> </label> <br /> <br />


            <input type="submit" name="visualizar"  value="Visualizar Resultado" />
            <input type="submit" name="excel" value="Exportar para Excel" />

        </form>

    </div>
</div>
