<div id="right">
    <h2>Calcular gastos - Quantidade de Tintas</h2>
    <div id="welcome">


        <form id="RecipeAddForm" method="post" action="/Homebuilder/Calculo/calcula_tinta">

       

            <label><b>Dimensões da Parede</b></label>
            <br>
            <label for="num0">Digite a largura da parede(m):<br>
                <input name="num0" required="required" placeholder="Ex: 30"/> </label><br />
            <label for="num0">Digite a altura da parede(m):<br>
                <input name="num1" required="required" placeholder="Ex: 2"/> </label><br /><br />

            <label><b>Janelas</b></label><br>
            <label for="num2">Número de janelas:<br></label>
                <input name="num2" required="required" placeholder="Ex: 1"/> </label><br />
            <label for="num3">Largura da janela(m):<br></label>
                <input name="num3" required="required" placeholder="Ex: 2"/> </label><br />
            <label for="num4">Altura da janela(m):<br></label>
                <input name="num4" required="required" placeholder="Ex: 1"/> </label><br /><br />

            <label><b>Portas</b></label><br>
            <label for="num5">Número de portas:<br></label>
            <input name="num5" required="required" placeholder="Ex: 1"/> </label><br />
            <label for="num6">Largura da porta(m):<br></label>
            <input name="num6" required="required" placeholder="Ex: 1"/> </label><br />
            <label for="num7">Altura da porta(m):<br></label>
            <input name="num7" required="required" placeholder="Ex: 3"/> </label><br /><br />

            <label><b>Demãos</b></label><br>
            <label for="num8">Quantidade de demãos:<br></label>
            <input name="num8" required="required" placeholder="Ex: 2"/> </label> <br /> <br />


            <input type="submit" name="visualizar"  value="Visualizar Resultado" />
            <input type="submit" name="excel" value="Exportar para Excel" />

        </form>

    </div>
</div>
